<%- include('partials/header'); -%>

<section class="bg-dark text-light p-lg-0 pt-lg-5">
    <div class="container text-center py-5 position-relative">
      <p class="lead">Log In</p>
      <form class="needs-validation" action="/login" method="POST" novalidate>
          <div class="row justify-content-md-center py-4">
            <div class="col-6 form-floating position-relative">
              <input class="form-control email" type="email" name="email" id="email" placeholder="johndoe@mail.com" required />
              <label class="text-dark ms-2" for="email">Email</label>
              <div class="invalid-tooltip email mt-2"></div>
            </div>
          </div>
        <div class="row justify-content-md-center py-4">
          <div class="col-6 form-floating position-relative">
            <input class="form-control password" type="password" minlength="6" maxlength="32" name="password" id="password" placeholder="Password" required />
            <label class="text-dark ms-2" for="password">Password</label>
            <div class="invalid-tooltip password mt-2"></div>
          </div>
        </div>
        <div class="col"><button class="btn btn-primary mt-4">Submit</button></div>
      </form>
    </div>
  </section>

<%- include('partials/footer'); -%>

<script>

    const form = document.querySelector('form');

    // get fields to validate
    const inputEmail = document.querySelector('.form-control.email');
    const errorEmail = document.querySelector('.invalid-tooltip.email');
    const inputPassword = document.querySelector('.form-control.password');
    const errorPassword = document.querySelector('.invalid-tooltip.password');

    form.addEventListener('submit', async (e) => {
      
      e.preventDefault();
        
        // reset errors
        inputEmail.setCustomValidity(''); 
        errorEmail.textContent = '';
        inputPassword.setCustomValidity('');     
        errorPassword.textContent = '';

        // get values from form
        const email = form.email.value;
        const password = form.password.value;
        
        try { // Attempt POST request
            
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) { // If the response returns with an error, populate error labels

                inputEmail.setCustomValidity(data.errors.email); 
                errorEmail.textContent = data.errors.email;
                inputEmail.reportValidity();

                inputPassword.setCustomValidity(data.errors.password);
                errorPassword.textContent = data.errors.password;
                inputPassword.reportValidity();

                form.classList.add('was-validated');

            }
            if (data.user) { // If the response returns with a user, redirect them to the homepage.
                location.assign('/');
            }
        }
        catch (err) {
            console.log(err);
        }
        
    });
</script>